html, body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0px;
  font-family: calibri;
  min-width: 400px;
}

@font-face {
  font-family: "norseBold";
  src: url(./fonts/Norse-Bold.otf) format("opentype");  
}

* {
  box-sizing: border-box;
}

#leftContainer {
  width: 100%;
  position: relative;
  background-image: url("./images/form-background.jpg");
}

#leftContainer > a:hover {
  color: blue;
  cursor: pointer;
}

#rightContainer {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

#imageCredit {
  color: white;
  font-size: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

a {
  color: inherit;
}

#logoDiv {
  font-family: "norseBold";
  color: white;
  font-size: 80px;
  height: 150px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  top: 150px;
  justify-content: center;
  align-items: center;
}

#logoDiv > img {
  height: 100%;
  width: auto;
}

.fillerArea {
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  flex-direction: column;
  display: flex;
  align-items: left;
  flex-wrap: wrap;
}

#filler1 {
  justify-content: flex-end;
}

#filler2 {
  justify-content: flex-start;
}

#paragraphContainer {
  font-size: 25px;
  font-weight: bold;
  width: 80%;
  padding: 30px;
}

#filler2 > div > button{
  width: 200px;
  height: 40px;
  color: white;
  background-color: #93733e;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}

#filler2ContentContainer {
  padding: 30px;
}

#filler2 > div > p > a {
  color: blue;
  text-decoration: none;
}

#mainFormContainer {
  width: 100%;
  background-color: white;
  align-items: center;
  padding: 30px;
}

#mainForm {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

#mainFormContainer, #rightContainer, #logoDiv {
  display: flex;
}

form {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  padding: 0px;
  justify-content: flex-start;
  margin: 0px;
}

input {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid black;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 15px;
}

